/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ----------CSS RESET-------- */
body{
    font-family: 'Raleway', sans-serif;
    margin: auto;
}
/* ----------------HEADER START */
header{
    width: 100%;
    background-color: rgb(34,41,70);

}

.heading{
    width: 65%;
    margin: auto;
    padding: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid red; */
    
}
/* header .logo{
    margin-left: 50px;
} */

/* header .navigations{
    margin-right: 30px;
} */
header .navigations a{
    color: white;
    margin: 10px;
    text-decoration: none;
    font-size: 20px;
}

header .navigations .color_green{
    color: rgb(12, 235, 12);
}

/* -----------------HEADER ENDED */
section{
    width: 65%;
    display: flex;
    margin: auto;
    margin-top: 25px;
    /* border: 1px solid black; */
    justify-content: space-between;
}
aside{
    width: 25%;
    height: 700px;
    /* border: 1px solid red; */
    font-size: 18px;
    background-color: rgb(163,202,234);
    border-radius: 20px;
    padding: 20px;
    margin-right: 35px;
}
aside .container{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    height: 700px;
   
}


aside .container .data_icon{
    /* margin: auto; */
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    margin-left: 10px;
    margin-right: 30px;

}

aside .container .data_icon h3{
    margin-top: 10px;
    padding: 15px;
    font-weight: bold;
}
aside .container .data_icon .color_oranged{
    border: 2px solid orangered;
    border-radius: 10px;
    color: orangered;
}

aside .container .data_icon i{
    margin-right: 15px;
}

aside .container .logout_btn{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
aside .container .logout_btn button{
    padding: 13px;
    text-align: left;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    outline: none;
    margin-bottom: 15px;
}

aside .container button i{
    margin-right: 15px;
    margin-left: 18px;
}

article{
    width: 65%;
    height: 700px;
    /* border: 1px solid red; */
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(242,248,253);
}

article .container{
    width: 100%;

}

article .container img{
    width: 100%;
    border-radius: 20px;
    height: 330px;
}
article .container .data{
    margin-top: 25px;
}
article .container .data h1{
    font-size: 45px;
    font-weight: bold;
}
article .container .data p{
    margin-top: 15px;
    font-size: 20px;
    line-height: 1.5;
}

article .container .data .readmore_btn{
    width: 110px;
    border: 1px solid green;
    background-color: rgb(88, 173, 88);
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 25px;
    border-radius: 10px;
}
/* ------------ENDED SECTION MAIN */

/* ---------------FOOTER START */

footer{
    max-width: 100%;
    background-color: rgb(34,41,70);
    padding: 38px 0px;
    margin-top: 30px;
}
footer .content{
    width: 65%;
    /* border: 1px solid red; */
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .brand_name{
    color: rgba(255, 255, 255, 0.308);
    font-size: 20px;
    /* margin-left: 45px; */
}

footer .navigations{
    font-size: 25px;
    /* margin-right: 45px; */
}
footer .navigations a{
    margin: 10px;
    color: white;
}